{% extends "layout.html" %}

{% block content %}
<div class="col-6" style="margin: 50px 220px;">
    <form action="/update/{{stories.0}}" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" value="{{stories.1}}">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Story</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="story" value="{{stories.2}}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



{% endblock %}